html,
body {
    font-size: 14pt;
}

body {
    background: #dedede;
    font-family: Georgia, 'Cambria','Times New Roman', Times, serif;
}

.container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:40px;
}

.item {
    width: 30em;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    margin-bottom: 5px;
}

h1 {
    margin-top:20px;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

.button {
    font-size: 20px;
    background-color: #2ea44f;
    border-radius: 6px;
}

.form {
    border-radius: 6px;
}

.label {
    font-size: 1.5rem;
}

#wrapper {
    overflow: auto;
    width: 100%;
    padding: 1px;
}

.left {
    display: inline-block;
    width: 30%;
}

.right {
    display: inline-block;
    width: 70%;
    float: right;
    box-sizing: border-box;
}

dt {
    padding:10px;
    font-size:25px;
}

dd {
    font-size:20px;
}

#summary {
    width: 300px;
}






