<title>{{{title}}}</title>
<h1>Show Finder</h1>
<article>
    <p>
        Hola! Enter a show show you would like to view in the 
        search bar below.
    </p>
    <form method="POST" action="/searchshows">
        <label> Enter a show:
            <input type="text" name="showSearchTerm">
        </label>
        <button type="submit">search</button>
    </form>
</article>