<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main_styles.css">
</head>
<body>
    <main>
        {{{body}}}
    </main>

    <script src="/public/js/form.js"></script>
</body>
</html>