<p>Hey</p>

<form class="form">
    <label for="prime">Enter prime number:</label>
    <input type="number" name="form-input" id="prime" placeholder="enter a value here">
    <button class="submit">Submit</button>
</form>

<ul id="attempts">
</ul>

